@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


head{ 
  font-family: montserrat;
}
        body {
            background: f1fbff;
        }
        .section-padding{
            padding: 100px 0;
        }
        .carousel-item {
            height: 100vh;
            min-height: 300px;
        }
        .carousel-caption{
            bottom: 220px;
            z-index: 2;
        }
        .carousel-caption{
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 25px;
        }
        .carousel-caption{
            width: 60%;
            margin: auto;
            font-size: 18px;
            line-height: 1.9;
        }
        .carousel-inner::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.7);
          z-index: 1;
        }
        .navber-nav a{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        }
        .navber-light .navbar-brand{
          color: #000;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 5px;
        }
        .navber-light .navbar-brand:focus,
        .navber-light .navbar-brand:hover{
        color: #000;
        }
        .navber-light .navber-nav .navber-link{
          color: #000;
        }
        .w-100{
          height: 100vh;
        }

        .services .card-body i{
          font-size: 90px;
        }


    
        @media only screen and (max-weith: 767px){
          .carousel-caption{
            bottom: 350px;
          }
          .carousel-caption{
            width: 100%;
          }
        }
    
        @media only screen and (max-weith: 767px){
          .navbar-nav{
            text-align: center;
          }
          .carousel-caption{
            bottom: 125px;
          }
          .carousel-caption h5{
            font-size: 17px;
          }
          .carousel-caption a{
            padding: 10px 15px;
          }
          .carousel-caption p{
            width: 100%;
            line-height: 1.6;
          }
        }
        
    




head{
          margin: o;
          padding: 0;
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          outline: none;
          color: #ffff;
      
      }
      body{
          display: flex;
          min-height: 100vh;
          align-items: center;
          justify-content: center;
      }
      .container{
          width: 360px;
          background: #000;
          box-shadow: 0 0 0px rgba( 250, 250, 250, 0.6);
          opacity: 0.6;
      }
      .container form{
          width: 100%;
          text-align: center;
          padding: 25px 20px;
      }
      form h1{
          padding: 10px 0;
      }
      form id{
          position: relative;
      }
      .id i{
          position: absolute;
          font-size: 20px;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
      }
      form input{
          width: 100%;
          height: 50px;
          margin: 4px 0;
          border: 1px solid #5c5c5c;
          border-radius: 3px;
          background: #181718;
          padding: 0 5px;
          font-size: 20px;
      }